!!!
html
  head
    title= title
    script(src="/jquery.min.js")
    script!='var serverAddress = "' + server + '";'
    script(src="/controller.js")
    script(src="/socket.io/socket.io.js")
    script(src="/masonry.pkgd.min.js")
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet", href="/SM_controller.css")
  body
    #main.masonry
        each item in items
          .thumb
            a.item(href="#"+item.id, data-id=item.id): img(src=item.thumb, class="vCenter")
            //a.item(href="#"+item.id, data-id=item.id, style='height:50px; width:50px; background-color:"white";').